{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{{ subcat.title }}

{% block sidebur %}

<div class="col-md-3">
    <ul class="list-group">
        {% for item in cat %}
        <li class="list-group-item active">{{ item.name }}</li>
        {% for sub in subcat %}
        {% if sub.category.id == item.id %}
        <li class="list-group-item"><a href="/category/{{ sub.id }}">{{ sub.name }}</a></li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
<div>
    <h3 style="color: #007bff;">{{ subctig }}</h3>
    <p></p>
</div>


<div class="row">
    {% for item in news %}
    <div class="card col-md-1 col-lg-3 col-md-4 col-md-9 m-xl-0.5" style="width: 18rem;">
        <img src="{{ item.image }}" class="card-img-top" alt="..." height="auto">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <!-- <p class="card-text">{{ item.content|safe|linebreaks|truncatechars:50 }}...</p> -->
            <p class="card-text"><b>Адрес: </b>{{ item.address }}</p>
            <p class="card-text"><b>Телефон: </b>{{ item.phone }}</p>
            <p class="card-text"><b>Категория: </b>{{ item.subcategory }}</p>
            <!-- <a href="#" class="btn btn-primary">Reead more</a> -->
        </div>
    </div>
    {% endfor %}
</div>



<div class="row"
    style="padding-top: 20px; padding-bottom: 20px; padding-left: 35px; font-size: 15px; font-weight: bold; background-color: rgb(255, 255, 255);">
    <span class="step-links">
        {% if news.has_previous %}
        <a href="?news={{news.previous_page_number}}">Назад</a>
        {% endif %}
        <span class="current">
            Страница {{ news.number }} из {{ news.paginator.num_pages }}
        </span>
        {% if news.has_next %}
        <a href="?page={{ news.next_page_number }}">Вперед</a>
        {% endif %}
    </span>
</div>


{% endblock %}